*{
    margin: 0;
    padding: 0;
}
#app{
    width: 800px;
    margin: 50px auto;
    background: skyblue;
}
table{
    width: 100%;
    background: #000;
}
table tr{
    background: #fff;
}
form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}